*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(90deg, black 0%, white 2%, black 100%); */
    justify-content: center;
    background-color:black;
    display: flex;
    align-items: center;
}
.first{
    background: linear-gradient(90deg, black 0%, white 50%, black 100%);
    background-clip: text;
    -webkit-background-clip: text;
    /* width: 100%; */
    /* height:100%; */
    font-size: 55px;
    /* color: transparent; */
    color: #fff;
    text-align: center;
    clip-path:circle(50px at 0% 50%);
    animation: light 15s infinite;
}
@keyframes light{
    0%{
        clip-path: circle(50px at 0% 50%);
    }
    50%{
        clip-path: circle(50px at 100% 50%);
    }
    100%{
        clip-path: circle(50px at 0% 50%);
    }
}