*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #353540;
}
section{
    width: 100%;
    max-width: 1200px;
    /* border: 1px solid red; */
    display: flex;
}
.card{
    position: relative;
    height: 480px;
    flex: 1;
    /* border: 1px solid red; */
    margin: 0 20px;
    perspective: 1000px;
}
.card img{
    width: 100%;
    height: 100%;
}
/* 投影效果 */
.card::before{
    z-index:99;
    content:"";
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 6px 12px 12px rgba(0,0,0,.4);
    opacity: 1;
    transition: 0.3s ease-in-out;
    transform-origin: top center;
}
.card:hover::before{
    opacity: 0.4;
    transform: rotateX(7deg) translateY(-6px) scale(1.05);
}
.card .cover{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transform-style:preserve-3d;
    transform-origin: top center;
    transition: transform 0.35s ease-in-out;
}
.card .cover::after{
    content:"";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120%;
    /* border: 1px solid red; */
    background: linear-gradient(226deg , rgba(255,255,255,0) 40% ,rgba(255,255,255,0.3) 50% ,rgba(255,255,255,0) 60%);
    transform:translateY(-100%);
    transition: transform 1.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:hover .cover{
    transform: rotateX(7deg) translateY(-6px);
} 
.card:hover .cover::after{
    transform: translateY(100%);
}